/* fonts */
@import url('fonts.css');

/* variables */
:root {

    /* colors */

    /* font sizes */

    /* gap sizes */
    
}

/* defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common items */

/* containers */

/* ------------ */

/* main header */

/* main */

/* main footer */

/* ------------ */

/* notebooks */

/* tablets */

/* phones */